* {
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
	font-family: Arial, sans-serif;
}

body {
	background: #f6f6f6;
	margin: 0;
	font-family: 'Open Sans', Arial, sans-serif;
}

.container {
	max-width: 1000px;
	background: #fff;
	margin: auto;
	padding: 0px 100px;
	border: 2px solid #cbd5e0;
	border-radius: 0px;
	gap: 20px;
}
.bold {
	font-weight: bold;
}
.logo-wrap {
	height: 50px;
	text-align: center;
	margin: 40px auto;
}

/* nav-bar */
.nav-bar {
	display: flex;
	justify-content: space-between;
	margin-bottom: 30px;
	margin-top: 60px;
	height: 48px;
	gap: 10px;
}

.nav-item {
	flex: 1;
	padding: 12px;
	font-size: 16px;
	text-align: center;
	font-weight: bold;
	line-height: 100%;
	
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 8px; white-space: nowrap; 
}

.title {
	font-size: 36px;
	line-height: 100%;

	font-weight: bolder;
	margin: 40px auto;
}

.badge-wrap {
	position: relative;
	display: inline-block;
}

.badge-wrap img {
	height: 55px;
	display: block;
}

.badge-content {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	align-items: center;
	gap: 8px;
	color: #fff;
	font-weight: 700;
	font-size: 16px;
	white-space: nowrap;
}

.circle {
	height: 24px;
	width: 24px;
	border-radius: 50%;
	background: #fff;
	color: #c40000;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 13px;
	font-weight: 700;
}
.nav-bar .nav-item:last-child .circle {
	background: #e0e0e0;
	color: #000;
}

.banner {
	margin: 20px 0;
	border-radius: 10px;
	overflow: hidden;
}

.banner img {
	width: 100%;
	display: block;
}

.desc {
	font-size: 20px;
	font-weight: 400;
	line-height: 100%;
	margin: 16px 0px;
}

/* ALERTS */
.alert-list {
	margin: 20px auto;
	display: flex;
	flex-direction: column;
	gap: 12px;
}

.alert {
	display: flex;
	align-items: center;
	gap: 12px;
	padding: 16px;
	height: 60px;
	border-radius: 8px;
	font-size: 20px;
	background: #ffeeee;
	font-weight: 500;
}

.alert-list img {
	height: 27px;
	width: 27px;
}

.alert-text {
	flex: 1;
}

/*  grid  */

.comparison-table {
	width: 100%;
	border-spacing: 0;
	overflow: hidden;
	border-radius: 16px;

	table-layout: fixed;
	border-collapse: separate;
	font-family: Arial, sans-serif;
	border: none;
	overflow: hidden;
	background: #fff;
	table-layout: fixed;
}

thead th {
	font-weight: 700;
	padding: 14px 10px;
	text-align: center;
	background: #fff;
	border-color: transparent;
	position: relative;
}

thead th:first-child {
	text-align: left;
	width: 35%;
}

thead th.highlight {
	background: #0b5ed7;
	color: #fff;
	border-left: 1px solid transparent;

	border-radius: 12px 12px 0 0;
}

thead th.highlight .brand {
	background: transparent;
	padding: 0;
	border-radius: 0;
}

thead img {
	width: 32px;
	margin-bottom: 6px;
}

thead span {
	display: block;
	font-size: 16px;
	line-height: 120%;
	margin-top: 4px;
}


th,
td {
	padding: 14px 10px;
	text-align: center;
	font-size: 16px;
	line-height: 120%;
	border-bottom: 1px solid #e5e5e5;
	border-right: 1px solid #e5e5e5;
}

td:first-child {
	text-align: left;
}

td:last-child,
th:last-child {
	border-right: none;
}
th:nth-child(2),
td:nth-child(2) {
	border-left: 2px solid #4da3ff;

	border-right: 2px solid #4da3ff;
	background: #e6f0ff;
	font-weight: 700;
}

td.highlight {
	background-color: #e6f0ff;
	font-weight: 700;
}

.comparison-table tbody tr:last-child td:nth-child(2) {
	border-bottom: 2px solid #4da3ff;
	background-color: #e6f0ff;
}
td.check img {
	width: 18px;
}

td.cross img {
	width: 18px;
}

.comparison-table tbody tr:nth-child(odd) {
	background-color: #f8f9fb;
}

.comparison-table tbody tr:nth-child(even) {
	background-color: #ffffff;
}

.comparison-table tbody tr:last-child td:first-child {
	border-bottom-left-radius: 16px;
}

.comparison-table tbody tr:last-child td:last-child {
	border-bottom-right-radius: 16px;
}


.comparison-table tbody tr:first-child td:first-child {
	border-top-left-radius: 16px;
	border-left: 1px solid #e5e5e5;
	border-top: 1px solid #e5e5e5;
}
.comparison-table tbody tr:first-child td:nth-child(3) {
	border-top: 1px solid #e5e5e5;
}
.comparison-table tbody tr:first-child td:nth-child(4) {
	border-top: 1px solid #e5e5e5;
}

.comparison-table tbody tr:first-child td:last-child {
	border-top-right-radius: 16px;
	border-top: 1px solid #e5e5e5;
	border-right: 1px solid #e5e5e5;
}

.comparison-table tbody tr:first-child td {
	border-top: 1px solid transparent;
}

.comparison-table tbody tr:first-child td {
	border-top: 1px solid white;
}

.comparison-table tbody tr:last-child td {
	border-bottom: 1px solid #e5e5e5;
}

.comparison-table tbody td:first-child {
	border-left: 1px solid #e5e5e5;
}

.comparison-table tbody td:last-child {
	border-right: 1px solid #e5e5e5;
}
.comparison-table tbody {
	position: relative;
	border-radius: 16px;
	overflow: hidden;
}


/* ...................... Wagnific steps */
.steps-section {
	display: flex;
	margin-top: 40px;
	margin-bottom: 40px;
	flex-direction: column;
	gap: 20px;
}

.step {
	display: flex;
	gap: 20px;
}

.step img {
	width: 30%;
	height: auto;
	object-fit: contain;
}

.step-text {
	width: 70%;
	gap: 10px;
}

.step-title {
	font-size: 24px;
	font-weight: bold;
	line-height: 100%;
	margin: 10px 0 6px 0;
}

.step-desc {
	font-size: 20px;
	font-weight: 400;
	margin: 0;
	line-height: 100%;
	margin-bottom: 24px;
}
.step-list {
	list-style-type: disc;
	padding-left: 20px;
	margin: 0 0 24px 0;
	font-size: 18px;
	line-height: 1.5;
	color: #333;
}

.step-list li {
	margin-bottom: 8px;
}

/* REviewssssssssssss */

.reviews {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 16px;
	margin: 30px auto;
	align-items: start;
}

.reviews img {
	width: 100%;
	height: auto;
	display: block;
}

/* ---------- PRICING ---------- */

.pricing-cards {
	display: flex;
	gap: 30px;
	width: 100%;
	justify-content: center;
	flex-wrap: wrap;
	margin-bottom: 40px;
}

.card {
	flex: 1;
	position: relative;
	background: #eff8ff;
	padding: 32px 20px;
	border-radius: 10px;
	position: relative;
}

.card img {
	margin-bottom: 20px;
}

.card h4 {
	font-size: 20px;
	font-weight: bolder;
	margin-bottom: 15px;
}

.card h3 {
	font-size: 40px;
	margin-bottom: 20px;
}

.card h3 span {
	font-size: 14px;
}

.card button {
	background: #0b76d1;
	color: #fff;
	border: none;
	padding: 14px;
	width: 100%;
	border-radius: 10px;
	font-size: 16px;
	cursor: pointer;
}

.image-badge {
	position: absolute;
	top: 70%;
	right: -18px;
	width: 120px;
	height: 64px;
	background: transparent;
	border-radius: 10px;
	overflow: hidden;
}

/* image */
.image-badge img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

/* text wrapper */
.badge-text {
	position: absolute;
	inset: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	padding: 4px 6px;
	box-sizing: border-box;
}

/* text lines */
.badge-text .title,
.badge-text .sub {
	margin: 0;
	padding: 0;
	line-height: 1;
	color: #fff;
	margin-top: 4px;
	white-space: nowrap;
}

.badge-text .title {
	font-size: 16px;
	font-weight: 700;
}

.badge-text .sub {
	font-size: 16px;
	font-weight: 400;
}

.guarante {
	display: flex;
	gap: 20px;
}

.guarante img {
	width: 30%;
	height: auto;
	object-fit: contain;
}

.guarante-text {
	width: 70%;
	gap: 10px;
	margin-top: 16px;
}
.guarante-text p {
	font-size: 20px;
	font-weight: 400;
	margin-top: 20px;
}
.thanks-text {
	font-size: 16px;
	font-weight: bold;
	line-height: 100%;
	text-align: center;
	justify-content: center;
	margin: 20px auto;
}
.wagnific-family {
	gap: 20px;
	margin: 60px auto;
	text-align: center;
	display: flex;
	flex-direction: column;
}
.wagnific-family p {
	font-size: 16px;
	font-weight: 400;
	font-style: italic;
	gap: 20px;
	text-align: center;

	font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}

.footer {
	border-top: 1px solid #cacaca;
	height: 80px;
	display: flex;
	align-items: center;
	justify-content: center;

	margin-left: -100px;
	margin-right: -100px;
}
.footer p {
	font-size: 16px;
	font-weight: 400;
	margin: 0;
	text-align: center;
}

/* Res[ponsive */
@media (max-width: 480px) {
	.container {
		padding: 0 16px;
	}
	.title {
		font-size: 24px;
		line-height: 100%;
		font-weight: bolder;
		margin: 24px auto;
	}

	.desc {
		font-size: 16px;
		font-weight: 400;
		line-height: 100%;
		margin: 16px 0px;
	}

	/* NAV BAR */
	.nav-bar {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 6px;
		width: 100%;
		margin: 20px 0;
	}

	.nav-item {
		flex: 1;
		padding: 6px 4px;
		font-size: 10px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 4px;
		white-space: nowrap;
		text-align: center;
	}

	.alert {
		display: flex;
		align-items: start;

		padding: 16px;
		height: 74px;
		border-radius: 8px;
		font-size: 16px;
		background: #ffeeee;
		font-weight: 400;
	}

	.badge-wrap {
		width: 100%;
		max-width: 136px;
		height: 39px;
		display: block;
	}

	.badge-content {
		display: flex;
		flex-direction: column;
		gap: 4px;
		font-size: 10px;
		text-align: center;
	}

	.circle {
		width: 16px;
		height: 16px;
		font-size: 11px;
	}

	.nav-item img {
		width: 16px;
		height: 16px;
	}

	th {
		font-size: 8px;
		margin-bottom: 8px;
	}
	td {
		text-align: center;
		font-size: 12px;
	}
	.reviews {
		display: flex;
		gap: 16px;
		flex-direction: column;
	}

	.reviews img {
		width: 100%;
		height: auto;
	}

	.steps-section {
		display: flex;

		flex-direction: column;
		gap: 16px;
	}

	.step {
		display: flex;
		flex-direction: column;
	}

	.step img {
		width: 100%;
		height: auto;
		object-fit: contain;
		margin-bottom: 0;
	}

	.step-text {
		width: 100%;
		/* gap: 16px; */
	}

	.step-title {
		font-size: 20px;
		font-weight: bold;
		line-height: 100%;
	}

	.step-desc {
		font-size: 16px;
		font-weight: 400;
		line-height: 100%;
		color: #333;

		margin: 10px auto;
	}
	.step-list {
		list-style-type: disc;
		font-size: 16px;
		line-height: 100%;
		margin: 16px auto;
		color: #333;
	}

	.step-list li {
		margin-bottom: 8px;
	}

	/* / */

	.guarante {
		display: flex;
		flex-direction: column;
		gap: 16px;
		margin: 16px auto;
	}

	.guarante img {
		width: 100%;
		height: auto;
		object-fit: contain;
	}

	.guarante-text {
		width: 100%;
		gap: 10px;
		margin-top: 16px;
	}
	.guarante-text p {
		font-size: 14px;
	}
	.thanks-text {
		font-size: 14px;
		font-weight: bold;
		line-height: 100%;
		text-align: center;
		justify-content: center;
		margin: 20px;
	}
	.wagnific-family {
		gap: 16px;
		margin: 30px auto;
	}
	.wagnific-family p {
		font-size: 14px;
	}
	.footer {
		height: 65px;

		/* margin-left: -30px;
	margin-right: -30px; */
	}
	.footer p {
		font-size: 14px;
	}
	/*  */

	.pricing-cards {
		gap: 30px;
		width: 100%;
		flex-direction: column;

		margin-bottom: 20px;
	}

	.card {
		width: 100%;
		padding: 16px;
	}

	.card img {
		margin-bottom: 16px;
	}

	.card h3 {
		font-size: px32;
		margin-bottom: 16px;
	}

	.image-badge {
		height: 73px;
	}
}
