* {
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
	font-family: Arial, sans-serif;
}
p {
	line-height: calc(1em + 4px);
}

body {
	background: #f6f6f6;
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', Arial, sans-serif;

	display: flex;
	flex-direction: column;
	justify-content: center;
}
.wrap {
	padding: 0 100px;
}
.container {
	width: 100%;
	max-width: 1000px;
	background: #fff;
	margin: 0 auto;
	border: 2px solid #cbd5e0;
}
.bold {
	font-weight: bold;
}
.logo-wrap {
	height: 50px;
	text-align: center;
	margin: 40px auto;
}

.title {
	font-size: 36px;
	line-height: 100%;

	font-weight: bolder;
	margin: 40px auto;
}

.banner {
	margin: 20px 0;
	border-radius: 10px;
	overflow: hidden;
}

.banner img {
	width: 100%;
	display: block;
}

.desc {
	font-size: 20px;
	font-weight: 400;
	line-height: 100%;
	margin: 16px 0px;
}

/* ALERTS */
.alert-list {
	margin: 20px auto;
	display: flex;
	flex-direction: column;
	gap: 12px;
}

.alert {
	display: flex;
	align-items: center;
	gap: 12px;
	padding: 16px;
	height: 60px;
	border-radius: 8px;
	font-size: 20px;
	background: #ffeeee;
	font-weight: 500;
}

.alert-list img {
	height: 27px;
	width: 27px;
}

.alert-text {
	flex: 1;
}

/* Desktop default */
.desktop {
	display: inline;
}
.mobile {
	display: none;
}
/*  grid  */

.comparison-table {
	width: 100%;
	border-spacing: 0;
	overflow: hidden;
	border-radius: 16px;

	table-layout: fixed;
	border-collapse: separate;
	font-family: Arial, sans-serif;
	border: none;
	overflow: hidden;
	background: #fff;
	table-layout: fixed;
}

thead th {
	font-weight: 700;
	padding: 14px 10px;
	text-align: center;
	background: #fff;
	border-color: transparent;
	position: relative;
}

thead th:first-child {
	text-align: left;
	width: 35%;
}

thead th.highlight {
	background: #0b5ed7;
	color: #fff;
	border-left: 1px solid transparent;

	border-radius: 12px 12px 0 0;
}

thead th.highlight .brand {
	background: transparent;
	padding: 0;
	border-radius: 0;
}

.brand img {
	height: 51px;
	width: 51px;
	align-items: center;
	justify-content: center;
}

thead img {
	width: 40px;
	height: 40px;
	margin-bottom: 6px;
}

thead span {
	display: block;
	font-size: 16px;
	line-height: 120%;
	margin-top: 4px;
}

th,
td {
	padding: 14px 10px;
	text-align: center;
	font-size: 16px;
	line-height: 120%;
	border-bottom: 1px solid #e5e5e5;
	border-right: 1px solid #e5e5e5;
}

td:first-child {
	text-align: left;
}

td:last-child,
th:last-child {
	border-right: none;
}
th:nth-child(2),
td:nth-child(2) {
	border-left: 2px solid #4da3ff;
	border-right: 2px solid #4da3ff;
	background: #e6f0ff;
	font-weight: 700;
}

td.highlight {
	background-color: #e6f0ff;
	font-weight: 700;
}

.comparison-table tbody tr:last-child td:nth-child(2) {
	border-bottom: 2px solid #4da3ff;
	background-color: #e6f0ff;
}

td:last-child,
th:last-child {
	border-right: none;
}
td.check img {
	width: 18px;
}

td.cross img {
	width: 18px;
}

.comparison-table tbody tr:nth-child(odd) {
	background-color: #f8f9fb;
}

.comparison-table tbody tr:nth-child(even) {
	background-color: #ffffff;
}

.comparison-table tbody tr:last-child td:first-child {
	border-bottom-left-radius: 16px;
}

.comparison-table tbody tr:last-child td:last-child {
	border-bottom-right-radius: 16px;
}

.comparison-table tbody tr:first-child td:first-child {
	border-top-left-radius: 16px;
	border-left: 1px solid #e5e5e5;
	border-top: 1px solid #e5e5e5;
}
.comparison-table tbody tr:first-child td:nth-child(3) {
	border-top: 1px solid #e5e5e5;
}
.comparison-table tbody tr:first-child td:nth-child(4) {
	border-top: 1px solid #e5e5e5;
}

.comparison-table tbody tr:first-child td:last-child {
	border-top-right-radius: 16px;
	border-top: 1px solid #e5e5e5;
	border-right: 1px solid #e5e5e5;
}

.comparison-table tbody tr:first-child td {
	border-top: 1px solid transparent;
}

.comparison-table tbody td:last-child {
	border-right: none;
}

.comparison-table tbody tr:first-child td {
	border-top: 1px solid white;
}

.comparison-table tbody tr:last-child td {
	border-bottom: 1px solid #e5e5e5;
}

.comparison-table tbody td:first-child {
	border-left: 1px solid #e5e5e5;
}

.comparison-table tbody td:last-child {
	border-right: 1px solid #e5e5e5;
}
.comparison-table tbody {
	position: relative;
	border-radius: 16px;
	overflow: hidden;
}
.brand img {
	height: 34px;
	width: 34px;
	align-items: center;
	justify-content: center;
}

.comparison-table {
	border: none;
}

/* ...................... Wagnific steps */
.steps-section {
	display: flex;
	margin-top: 40px;
	margin-bottom: 40px;
	flex-direction: column;
	gap: 20px;
}

.step {
	display: flex;
	gap: 20px;
}

.step img {
	width: 30%;
	height: auto;
	align-self: flex-start;
	object-fit: contain;
	align-items: start;
}

.step-text {
	width: 70%;
	gap: 10px;
}

.step-title {
	font-size: 24px;
	font-weight: bold;
	line-height: 100%;
	margin: 10px 0 6px 0;
}

.step-desc {
	font-size: 20px;
	font-weight: 400;
	margin: 0;
	line-height: 130%;
	margin-bottom: 24px;
	color: #333;
}
.step-list {
	list-style-type: disc;
	padding-left: 20px;
	margin: 0 0 24px 0;
	font-size: 18px;
	line-height: 1.5;
	color: #333;
}

.step-list li {
	margin-bottom: 8px;
}

/* REviewssssssssssss */

.reviews {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 16px;
	margin: 30px auto;
	align-items: start;
}

.reviews img {
	width: 100%;
	height: auto;
	display: block;
}

/* ---------- PRICING ---------- */

.pricing-cards {
	display: flex;
	gap: 30px;
	width: 100%;
	justify-content: center;
	flex-wrap: wrap;
	margin-bottom: 40px;
}

.card {
	flex: 1;
	position: relative;
	background: #eff8ff;
	padding: 32px 20px;
	border-radius: 10px;
	position: relative;
}

.card img {
	align-items: center;
	margin-bottom: 20px;
}

.card h4 {
	font-size: 20px;
	font-weight: bolder;
	margin-bottom: 15px;
}

.card h3 {
	font-size: 40px;
	margin-bottom: 20px;
}

.card h3 span {
	font-size: 14px;
}

.card button {
	background: #0b76d1;
	color: #fff;
	border: none;
	padding: 14px;
	width: 100%;
	border-radius: 10px;
	font-size: 16px;
	cursor: pointer;
}

.image-badge {
	position: absolute;
	top: 70%;
	right: -18px;
	width: 120px;
	height: 64px;
	background: transparent;
	border-radius: 10px;
	overflow: hidden;
	margin-right: 16px;
}

/* image */
.image-badge img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

/* text wrapper */
.badge-text {
	position: absolute;
	inset: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	padding: 4px 6px;
	box-sizing: border-box;
}

/* text lines */
.badge-text .title,
.badge-text .sub {
	margin: 0;
	padding: 0;
	line-height: 1;
	color: #fff;
	margin-top: 4px;
	white-space: nowrap;
}

.badge-text .title {
	font-size: 16px;
	font-weight: 700;
}

.badge-text .sub {
	font-size: 16px;
	font-weight: 400;
}

.guarante {
	display: flex;
	gap: 20px;
}

.guarante img {
	width: 30%;
	height: auto;
	object-fit: contain;
}

.guarante-text {
	width: 70%;
	gap: 10px;
	margin-top: 16px;
}
.guarante-text p {
	font-size: 20px;
	font-weight: 400;
	margin-top: 20px;
}
.thanks-text {
	font-size: 16px;
	font-weight: bold;
	line-height: 100%;
	text-align: center;
	text-decoration: underline;
	justify-content: center;
	margin: 20px auto;
}
.wagnific-family {
	gap: 20px;
	margin: 60px auto;
	text-align: center;
	display: flex;
	flex-direction: column;
}
.wagnific-family p {
	font-size: 16px;
	font-weight: 400;
	font-style: italic;
	gap: 20px;
	text-align: center;

	font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}

.footer {
	border-top: 1px solid #cacaca;
	height: 80px;
	display: flex;
	align-items: center;
	margin: 0;
	padding: 0;
	justify-content: center;
}
.footer p {
	font-size: 16px;
	font-weight: 400;
	margin: 0;
	text-align: center;
}
@media (max-width: 768px) {
	.wrap {
		padding: 0 40px;
	}
}

.nav-wrapper {
	max-width: 1000px;
	margin: 40px auto;
	padding: 0;
}

.nav-bar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

.nav-item,
.step-arrow {
	/* flex: 1; */
	height: 48px;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 8px;
	font-size: 16px;
	font-weight: 700;
	white-space: nowrap;
}

.nav-item {
	background: white;
}

.badge {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: #f8f6fb;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 12px;
	font-weight: 700;
}

.step-arrow {
	position: relative;
	background: #d60000;
	color: #fff;
	padding-left: 36px;
}

.step-arrow::after {
	content: '';
	position: absolute;
	right: -24px;
	top: 0;
	width: 0;
	height: 0;
	border-top: 24px solid transparent;
	border-bottom: 24px solid transparent;
	border-left: 24px solid #d60000;
}

.step-arrow::before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 0;
	height: 0;
	border-top: 24px solid transparent;
	border-bottom: 24px solid transparent;
	border-left: 20px solid #fff;
}

.step-circle {
	width: 26px;
	height: 26px;
	border-radius: 50%;
	background: #fff;
	color: #d60000;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 13px;
	font-weight: 700;
}

@media (max-width: 780px) {
	.nav-item :nth-child(2) {
		margin-left: 40px;
	}
	.nav-item,
	.step-arrow {
		font-size: 10px;
		height: 40px;
		gap: 4px;
		padding-bottom: 4px;
		display: flex;
		flex-direction: column;
	}

	.badge,
	.step-circle {
		width: 16px;
		height: 16px;
		margin-top: 4px;
		font-size: 10px;
	}

	.step-arrow {
		padding: auto 10px;
		padding-left: 24px;
		margin-right: 10px;
	}

	.step-arrow::after {
		right: -20px;
		border-top: 20px solid transparent;
		border-bottom: 20px solid transparent;
		border-left: 20px solid #d60000;
	}

	.step-arrow::before {
		border-top: 20px solid transparent;
		border-bottom: 20px solid transparent;
		border-left: 14px solid #fff;
	}
	.nav-wrapper {
		gap: 10px;
	}
}

@media (max-width: 600px) {
	.nav-item :nth-child(2) {
		margin-left: 20px;
	}

	.step-arrow {
		padding: auto 0;
		padding-left: 10px;
		margin-right: 0px;
	}

	.step-arrow::after {
		right: -20px;
		border-top: 20px solid transparent;
		border-bottom: 20px solid transparent;
		border-left: 20px solid #d60000;
	}

	.step-arrow::before {
		border-top: 20px solid transparent;
		border-bottom: 20px solid transparent;
		border-left: 15px solid #fff;
	}
	.nav-wrapper {
		gap: 10px;
	}
}
/* Res[ponsive */
@media (max-width: 480px) {
	.container {
		width: 100%;
		min-width: 340px;
		margin-left: 16px;
		margin-right: 16px;
		/* padding: 0 16px; */
	}
	.wrap {
		width: 100%;
		padding: 0 16px;
	}

	.title {
		font-size: 24px;
		line-height: 100%;
		font-weight: bolder;
		margin: 24px auto;
	}

	.desc {
		font-size: 16px;
		font-weight: 400;
		line-height: 100%;
		margin: 16px 0px;
	}

	.alert {
		display: flex;
		align-items: start;

		padding: 16px;
		height: 74px;
		font-size: 16px;
		font-weight: 400;
	}

	.badge-content {
		display: flex;
		flex-direction: column;
		gap: 4px;
		font-size: 10px;
		text-align: center;
	}
	thead th {
		height: 65px;
		font-size: 8px;
	}
	th span {
		margin-bottom: 10px;
		font-size: 8px;
	}
	.brand-title {
		margin-bottom: 10px;
	}
	.circle {
		width: 16px;
		height: 16px;
		padding: 8px;
		font-size: 11px;
	}
	th {
		font-size: 8px;
		margin-bottom: 8px;
	}
	td {
		text-align: center;
		font-size: 12px;
	}
	.reviews {
		display: flex;
		gap: 16px;
		flex-direction: column;
	}
	.reviews img {
		width: 100%;
		height: auto;
	}
	.steps-section {
		display: flex;

		flex-direction: column;
		gap: 16px;
	}

	.step {
		display: flex;
		flex-direction: column;
	}

	.step img {
		width: 100%;
		height: auto;
		object-fit: contain;
		margin-bottom: 0;
	}

	.step-text {
		width: 100%;
	}

	.step-title {
		font-size: 20px;
		font-weight: bold;
		line-height: 100%;
	}

	.step-desc {
		font-size: 16px;
		font-weight: 400;
		line-height: 130%;
		/* color: #333; */

		margin: 10px auto;
	}
	.step-list {
		list-style-type: disc;
		font-size: 16px;
		line-height: 100%;
		margin: 16px auto;
		color: #333;
	}

	.step-list li {
		margin-bottom: 8px;
	}

	/* / */

	.guarante {
		display: flex;
		flex-direction: column;
		gap: 16px;
		margin: 16px auto;
	}

	.guarante img {
		width: 100%;
		height: auto;
		object-fit: contain;
	}

	.guarante-text {
		width: 100%;
	}
	.guarante-text p {
		font-size: 14px;
	}
	.thanks-text {
		font-size: 14px;
		line-height: 100%;
		margin: 40px;
	}
	.wagnific-family {
		gap: 16px;
		margin: 30px auto;
	}
	.wagnific-family p {
		font-size: 14px;
	}
	.footer {
		height: 65px;
	}
	.footer p {
		font-size: 14px;
	}

	.pricing-cards {
		gap: 30px;
		width: 100%;
		flex-direction: column;

		margin-bottom: 20px;
	}

	.card {
		width: 100%;
		padding: 16px;
	}

	.card img {
		margin-bottom: 16px;
	}

	.card h3 {
		font-size: 32px;
		margin-bottom: 16px;
	}
	.image-badge {
		height: 60px;
		margin-right: 16px;
	}

	.badge-content {
		flex-direction: column;
		gap: 4px;
		font-size: 10px;
		text-align: center;
	}
	.circle {
		width: 16px;
		height: 16px;
		font-size: 11px;
	}
}
